<div class="row">
    <div class="span9 main">
        <div ng-repeat="tip in posts">
            <div class="clip link feed">
                <div class="bg"></div>
                <div class="overlay">
                    <div class="content">
                        <a class="clip-open" data-link="push" href="{[{tip.url}]}">
                            <h3>{[{tip.name}]}</h3>
                        </a>

                        <div class="meta clips-note">
                            <p>
                                {[{tip.description}]}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>