{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <script src="{{ STATIC_URL }}js/app/controllers/app-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/feed-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/posts-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/app-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/posts-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/tags-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/directives/directives.js"></script>
    <script src="{{ STATIC_URL }}js/app/filters/filters.js"></script>
{% endblock %}
{% block content %}
    <div class="padded-content">
        <div id="main-content" class="container">
            <div class="row">
                <div class="span12">
                    <div class="pending-bg" pending-bar>
                        <div class="alert alert-warning">loading ...</div>
                    </div>
                </div>
             </div>
                <ng-view view-state></ng-view>
        </div>
    </div>
{% endblock %}
{% block extra_content %}
<script type="text/javascript"></script>
{% endblock %}